:root{
	--mainStyle-text-shadow-black: 0px 1px 1px black;
	--mainStyle-footer-color: lightgray;
	--mainStyleBlackColor: black;
	--mainStyleWheatColor: wheat;
	--mainStyleWhiteColor: whitesmoke;
}


body{
	background-color: var(--mainStyleWhiteColor);
}

div#footer{
	width:100%;
	position: static;
	bottom:0;
}

#footer{
	background-color: var(--mainStyle-footer-color);
	margin-top: 35px;
}

#footerBrand{
	text-shadow: var(--mainStyle-text-shadow-black);
}

#footerText{
	margin-top: 1.4em;
	margin-left: 3em;
	text-shadow: var(--mainStyle-text-shadow-black);
}
#footerText>b{
	color: goldenrot;
	text-shadow: none;
}

div.navbar.navbar-default.navbar-fixed-top.mb-3{
	border-bottom: 1px solid whitesmoke;	
}

label#footerAmap{
	margin-top: 1.9%;
	margin-left: 10px;
	font-size: 20px;
}

h4#footerText{
	margin-left:10px;
	margin-top:24px;
	font-size: 18px;
}

