@charset "ISO-8859-1";

:root{
	--mainStyle-text-shadow-black: 0px 1px 1px black;
	--mainStyle-footer-color: whitesmoke;
	--mainStyleBlackColor: whitesmoke;
	--mainStyleWheatColor: black;
}


body{
	background-color: var(--mainStyleBlackColor);
}

div#footer{
	width:100%;
	position: static;
	bottom:0;
}

#footer{
	background-color: var(--mainStyle-footer-color);
}

#footerBrand{
	text-shadow: var(--mainStyle-text-shadow-black);
}

#footerText{
	margin-top: 1.4em;
	margin-left: 3em;
	text-shadow: var(--mainStyle-text-shadow-black);
}
#footerText>b{
	color: goldenrot;
	text-shadow: none;
}

h1,h2,h3,h4,h5,p,label{
	color: var(--mainStyleWheatColor);	
}

div.navbar.navbar-default.navbar-fixed-top.mb-3{
	border-bottom: 1px solid whitesmoke;	
}